# Raw Data (Prevents GitHub 100MB file push block)
Data/raw/
globalterrorismdb_0718dist.csv
Data/processed/
globalterrorismdb_reduced_stage1.csv
Data/processed/
globalterrorismdb_cleaned.csv
Data/processed/
globalterrorismdb_reduced_stage2.csv
Data/processed/
gtd_model_ready.csv
Data/processed/
model_comparison.csv
# Virtual Environments
venv/
.venv/
env/

# Python & Jupyter Cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# System Files
.DS_Store
Thumbs.db